<h1>西安公交车查询，可显示公交车所在位置</h1>

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">请输入线路名称</span>
    <input type="text" class="form-control" placeholder="高新3号线" aria-describedby="basic-addon1" ng-model="input_name" ng-init="input_name='高新3号线'">

    <button type="button" class="btn btn-default btn-lg" aria-label="Left Align" ng-click="get_route_by_name()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</div>
<div>
    <table class="table table-bordered" ng-show="!checkObject(routes)">
        <thead>
            <tr>
                <th>线路ID</th>
                <th>线路名</th>
                <th>起点-终点</th>
                <th>操作</th>
            </tr>
        </thead>
        <tr ng-repeat="x in routes.data">
            <td>{{ x.routeId }}</td>
            <td>{{ x.routeName }}</td>
            <td>{{ x.startEndStation }}</td>
            <td><button type="button" class="btn btn-link btn-xs" ng-click="show_bus(x.routeId)">查看站点详情及公交车位置</button></td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered" ng-show="!checkObject(downData)">
            <thead>
            <tr>
                <th>序号</th>
                <th>站名(下行)</th>
                <th>公交车位置</th>
            </tr>
            </thead>
            <tr ng-repeat="x in downData"   ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <td>{{x.OrderNumber}}</td>
                <td>{{x.StationName}}</td>
                <td>
                    <img class="img-responsive" alt="Chania" width="20" height="15" ng-src="assets/img/emoji_bus.png"  ng-show="x.CountOfBus>0">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered" ng-show="!checkObject(upData)">
            <thead>
            <tr>
                <th>序号</th>
                <th>站名(上行)</th>
                <th>公交车位置</th>
            </tr>
            </thead>
            <tr ng-repeat="x in upData">
                <td>{{x.OrderNumber}}</td>
                <td>{{x.StationName}}</td>
                <td>
                    <img class="img-responsive" alt="Chania" width="20" height="15" ng-src="assets/img/emoji_bus.png"  ng-show="x.CountOfBus>0">
                </td>
            </tr>
        </table>
    </div>
</div>


