<h1>西安公交车查询，可显示公交车所在位置</h1>

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">请输入线路名称</span>
    <input type="text" class="form-control" placeholder="高新3号线" aria-describedby="basic-addon1" ng-model="input_name" ng-init="input_name='高新3号线'">

    <button type="button" class="btn btn-default btn-lg" aria-label="Left Align" ng-click="get_route_by_name()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</div>

<div>
    状态:{{routes.message}}
    线路数量:{{routes.totalCount}}
    线路状态:{{routes.status}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>线路ID</th>
                <th>线路名</th>
                <th>起点-终点</th>
            </tr>
        </thead>
        <tr ng-repeat="x in routes.data">
            <td><button type="button" class="btn btn-link btn-sm" ng-click="show_bus(x.routeId)">{{ x.routeId }}</button></td>>
            <td><button type="button" class="btn btn-link btn-sm" ng-click="show_bus(x.routeId)">{{ x.routeName }}</button></td>>
            <td><button type="button" class="btn btn-link btn-sm" ng-click="show_bus(x.routeId)">{{ x.startEndStation }}</button></td>>
        </tr>
    </table>
</div>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>站名</th>
        <th>车</th>
    </tr>
    </thead>
    <tr ng-repeat="x in downData">
        <td>{{x.orderNumber}}</td>
        <td>{{x.stationName}}</td>
        <td></td>
    </tr>
</table>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>站名</th>
        <th>车</th>
    </tr>
    </thead>
    <tr ng-repeat="x in upData">
        <td>{{x.orderNumber}}</td>
        <td>{{x.stationName}}</td>
        <td></td>
    </tr>
</table>
{{route_details}}