<h1>西安公交车查询，可显示公交车所在位置</h1>

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">请输入线路名称</span>
    <input type="text" class="form-control" placeholder="高新3号线" aria-describedby="basic-addon1" ng-model="input_name">

    <button type="button" class="btn btn-default btn-lg" aria-label="Left Align" ng-click="get_route_by_name()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</div>

<div>
    状态:{{routes.message}}
    线路数量:{{routes.totalCount}}
    线路状态:{{routes.status}}
</div>